@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #FFF;
  color: #4D4D4D;
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
}

a {
  color: #4D4D4D;
}
a:hover {
  color: #948282;
}

li {
  list-style-type: none;
}

button {
  border-style: none;
  padding: 0;
  background-color: transparent;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 159.1%; /* 22.274px */
  letter-spacing: 0.7px;
  margin: 0;
}

section {
  max-width: 1440px;
  margin: auto;
}

input:checked + label {
  color: #4D4D4D;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.horizontal-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #9F938B;
}

.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 44.8px */
}

.subtitle {
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 22.4px */
  text-transform: uppercase;
}

.main-header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: #FFF;
  padding: 10px 75px 0px 60px;
}
.main-header .navbar-toggle {
  display: none;
}
.main-header .nav {
  display: flex;
  gap: 30px;
  padding: 0;
  font-size: 14px;
}
.main-header .right-section {
  display: flex;
  gap: 18px;
}
.main-header .right-section img {
  width: 24px;
  height: 24px;
}
.main-header .right-section .card {
  transform: scale(1); /* Initial zoom factor */
  transition: transform 0.3s;
}
.main-header .right-section .card.zoomed {
  transition-delay: 1500ms;
  transform: scale(1.1);
  animation: rotateAnimation 1.2s ease-in-out 1;
  animation-delay: 100ms;
}
.main-header .right-section .card.zoomed::after {
  content: "";
  transition: 0.4s;
  position: absolute;
  transform: translate(23px, -100px);
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../img/header/one.png") no-repeat center;
  animation: counterAppear 1s ease-in-out 1;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@media (max-width: 414px) {
  .main-header {
    padding: 0 21px 0px 28px;
  }
  .main-header .navbar-toggle {
    display: block;
  }
  .middle-section {
    display: none;
  }
  .right-section form {
    display: flex;
    position: absolute;
    left: 76px;
  }
}
@media (max-width: 700px) {
  .main-header {
    padding: 0 21px 0px 28px;
  }
  .main-header .navbar-toggle {
    display: block;
  }
  .middle-section {
    display: none;
  }
  .right-section form {
    display: flex;
    position: absolute;
    left: 76px;
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-25deg);
  }
  66% {
    transform: rotate(33deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes counterAppear {
  0% {
    transform: translate(23px, -100px);
  }
  100% {
    transform: translate(23px, -29px);
  }
}
#item-info {
  background: #F6F6F5;
}
#item-info .item-info-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image content" "image description";
}
#item-info .item-info-container .image-container {
  grid-area: image;
}
#item-info .item-info-container .all-product-button-mobile {
  display: none;
}
#item-info .item-info-container img {
  max-width: 100%;
  max-height: 100%;
}
#item-info .item-info-container .about-item-section {
  grid-area: content;
  display: grid;
  padding: 22px 72px 49px 72px;
}
#item-info .item-info-container .about-item-section .image-container {
  width: 63%;
}
#item-info .item-info-container .about-item-section .product-description {
  grid-area: description;
}
#item-info .item-info-container .about-item-section .all-product-button-desktop {
  position: relative;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 159.1%;
  letter-spacing: 0.55px;
}
#item-info .item-info-container .about-item-section .all-product-button-desktop::before {
  content: "";
  position: absolute;
  z-index: 900;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 9px;
  background: url("../../img/main/arrow.svg") no-repeat center;
}
#item-info .item-info-container .about-item-section .about-item .main-title {
  margin-top: 58px;
}
#item-info .item-info-container .about-item-section .about-item .main-subtitle {
  margin-top: 3px;
  font-size: 14px;
}
#item-info .item-info-container .about-item-section .about-item .horizontal-line {
  margin-top: 20px;
}
#item-info .item-info-container .about-item-section .about-item p {
  margin-top: 21px;
}
#item-info .item-info-container .about-item-section .organic-proof {
  margin-top: 27px;
}
#item-info .item-info-container .about-item-section .organic-proof .grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin: 0 auto;
}
#item-info .item-info-container .about-item-section .organic-proof .grid-container .grid-item {
  color: #948282;
  display: flex;
  position: relative;
  text-align: center;
}
#item-info .item-info-container .about-item-section .organic-proof .grid-container .grid-item .proof-icon {
  font-size: 14px;
  font-weight: 500;
  width: 52px;
  height: 52px;
  background: url("../../img/main/cercle.svg") no-repeat center;
}
#item-info .item-info-container .about-item-section .organic-proof .grid-container .grid-item .proof-icon::before {
  content: "";
  position: absolute;
  z-index: 900;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 52px;
  height: 52px;
  background: url("../../img/main/blood_test.svg") no-repeat center;
}
#item-info .item-info-container .about-item-section .organic-proof .grid-container .grid-item span {
  margin: auto;
}
#item-info .item-info-container .about-item-section .horizontal-line {
  margin-top: 35px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection {
  margin-top: 30px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .input-container {
  display: flex;
  color: #9F938B;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .input-container .input-box {
  position: relative;
  width: 22px;
  height: 22px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .input-container .input-box input[type=checkbox] {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  border: none;
  border-radius: 50%;
  background-color: #F6F6F5;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .input-container .input-box input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  border: 1px solid #9F938B;
  border-radius: 50%;
  background-color: transparent;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .input-container .input-box input[type=checkbox]:checked:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #9F938B;
  border-radius: 50%;
  background-color: #9F938B;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .input-container label {
  margin-left: 18px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .ch2 {
  margin-top: 28px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #quantity-and-add {
  display: flex;
  margin-top: 54px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #quantity-and-add #quantity-counter {
  display: flex;
  padding-left: 14px;
  padding-right: 11px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4D4D4D;
  width: 111px;
  height: 47px;
  gap: 30px;
}
#item-info .item-info-container .about-item-section .add-to-card-section #quantity-and-add .add-to-card-button {
  text-transform: uppercase;
  height: 47px;
  width: 100%;
  margin-left: 16px;
  background-color: #BFABAB;
}

@media (max-width: 1200px) {
  #item-info .item-info-container img {
    margin: auto;
  }
  #item-info .item-info-container .about-item-section {
    max-width: 70%;
  }
}
@media (max-width: 414px) {
  #item-info .item-info-container {
    grid-template-columns: 1fr !important;
    grid-template-areas: "content" "image" "description" !important;
  }
  #item-info .item-info-container .all-product-button-mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: block;
    margin-left: 52px;
    color: #4D4D4D;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 159.1%;
    letter-spacing: 0.5px;
  }
  #item-info .item-info-container .all-product-button-mobile span {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 159.1%; /* 15.91px */
    letter-spacing: 0.5px;
  }
  #item-info .item-info-container .all-product-button-mobile::before {
    content: "";
    position: absolute;
    z-index: 900;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 9px;
    background: url("../../img/main/arrow.svg") no-repeat center;
  }
  #item-info .item-info-container .product-img-section-mobile {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
  #item-info .item-info-container .about-item-section {
    padding: 32px 20px 42px 26px;
    display: block;
    max-width: none;
  }
  #item-info .item-info-container .about-item-section .about-item .main-title {
    margin: 0;
  }
  #item-info .item-info-container .about-item-section .about-item .main-subtitle {
    margin-top: 16px;
  }
  #item-info .item-info-container .about-item-section .about-item .horizontal-line {
    margin-top: 24px;
  }
  #item-info .item-info-container .about-item-section .about-item p {
    margin-top: 18px;
  }
  #item-info .item-info-container .about-item-section .add-to-card-section #offer-selection {
    margin-top: 41px;
  }
  #item-info .item-info-container .about-item-section .add-to-card-section #offer-selection label {
    font-weight: 300;
    line-height: 159.1%; /* 25.456px */
    letter-spacing: 0.8px;
  }
  #item-info .item-info-container .about-item-section .add-to-card-section #offer-selection .ch2 {
    margin-top: 22px;
  }
  #item-info .item-info-container .about-item-section .add-to-card-section #quantity-and-add {
    margin-top: 47px;
  }
  #item-info .item-info-container .about-item-section .add-to-card-section #quantity-and-add .add-to-card-button {
    margin-left: 19px;
  }
}
#ingredients {
  max-width: 46.52%;
  margin-left: 137px;
}
#ingredients .subtitle-toggle {
  cursor: pointer;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
#ingredients .subtitle-toggle .subtitle {
  text-transform: none;
}
#ingredients .subtitle-toggle p {
  font-size: 27px;
}
#ingredients .p-container {
  display: block;
  margin-top: 31px;
  opacity: 0;
  animation: fadeInOut 0.7s forwards; /* Dodajte CSS animaciju */
}
#ingredients .p-container.hidden {
  opacity: 0;
}
#ingredients .p-container:not(.hidden) {
  display: none;
  opacity: 1;
}
#ingredients .horizontal-line {
  margin-top: 32px;
}

@media (max-width: 414px) {
  #ingredients {
    max-width: none;
    margin-left: 26px;
    margin-right: 21px;
  }
  #ingredients .p-container {
    margin-top: 16px;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#products {
  font-family: "Lato", sans-serif;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 114px;
}
#products .section-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 44.8px */
}
#products .product-carousel {
  overflow: hidden;
}
#products .product-carousel .arrow-margin {
  margin-right: 20px;
  margin-left: 20px;
}
#products .carousel-container {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  margin-top: 24px;
}
#products .carousel-container .product-card {
  display: block;
  flex: 0 0 33.33%; /* Shows three middle products */
}
#products .carousel-container .product-card .card-container {
  padding-right: 31px;
  padding-left: 31px;
}
#products .carousel-container .product-card .card-container img {
  width: 100%;
  height: auto;
}
#products .carousel-container .product-card .card-container span {
  display: block;
  text-align: left;
}
#products .carousel-container .product-card .card-container .hend-title {
  margin-top: 16px;
}
#products .carousel-container .product-card .card-container .subtitle {
  margin-top: 3px;
}
#products .carousel-container .product-card .card-container .price {
  margin-top: 30px;
  letter-spacing: 0.8px;
}
#products .carousel-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-345px);
}
#products .carousel-controls .prev-button {
  width: 29px;
  height: 29px;
  background: url("../../img//you_may_also_like/rightArrow.svg") no-repeat center;
  transform: rotate(180deg);
}
#products .carousel-controls .next-button {
  width: 29px;
  height: 29px;
  background: url("../../img/you_may_also_like/rightArrow.svg") no-repeat center;
}
#products .carousel-controls .prev-button:disabled {
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}
#products .carousel-controls .next-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 600px) {
  #products {
    display: block;
    margin-left: 26px;
    margin-right: 0px;
    margin-top: 71px;
  }
  #products .product-card {
    padding-right: 39px;
  }
  #products .product-carousel {
    padding-left: 0px;
    padding-right: 59px;
  }
  #products .product-carousel .arrow-margin {
    margin-right: 0;
    margin-left: 0;
  }
  #products .product-carousel .carousel-container {
    display: flex;
    transition: transform 0.3s;
    margin-top: 69px;
  }
  #products .product-carousel .carousel-container .product-card {
    flex: 0 0 100%;
  }
  #products .product-carousel .carousel-container .product-card .card-container {
    display: flex;
    max-width: 286px;
    padding: 0;
  }
  #products .product-carousel .carousel-container .product-card .card-container .hend-title {
    margin-top: 12px;
  }
  #products .product-carousel .carousel-container .product-card .card-container .price {
    margin-top: 25px;
  }
  #products .carousel-controls {
    position: relative;
    display: block;
    margin-top: 25px;
    transform: translateY(0);
    max-width: inherit;
  }
}
