$bkg-color: #FFF;
$bkg-second-color: #F6F6F5;
$main-color: #4D4D4D;
$secont-color: #948282;
$cercle-color:#9F938B;
$button-color:#BFABAB;
$link-color: #4D4D4D;
$link-hover: #948282;
$horisontal-line: #9F938B;